h1 {
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
}
a {
  text-decoration: none;
}
header a:hover {
  background-color: black;
  color: white;
}
.top {
  position: fixed;
  width: 30px;
  height: 30px;
  bottom: 30px;
  right: 20px;
  border: none;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
  background: black;
  color: white;
  padding: 12px;
  font-weight: bold;
}
