#full {
  width: 100%;
  height: 100vh;
}
#screen-left {
  position: absolute;
  position: fixed;
  width: 30%;
  height: 100vh;
  background-color: aqua;
  float: left;
  text-align: center;
  background-image: url(../resours/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#screen-right {
  position: relative;
  width: 70%;
  height: 100vh;
  float: right;
}
h1 {
  color: white;
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid white;
  padding-top: 80px;
  border-width: 70%;
}
#screen-right img {
  width: 100%;
  max-width: 800px;
  padding: 50px;
}
h2 {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
a {
  color: white;
  font-size: 1.8rem;
  display: block;
}
nav {
  display: flex;
  background-color: red;
  margin-bottom: 100px;
  display: inline;
  justify-content: flex-end;
}
p {
  line-break: 1.8;
  text-align: left;
}
